<div class="container">
  <div class="row">
    <div class="col s8">
      <h1>Carrito de compras</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s8">
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h3>{{nombre_item}}</h3>
            <p></p>
            <p>Unidades: {{unidades}}</p>
            <p>Subtotal: {{Subtotal}}</p>
          </div>
        </div>
      </div>
      </div>

    <div class="col s4">
      <h2>Total: {{Total}}</h2>
      <button type="button" name="button">Cancelar</button>
      <button type="button" name="button">Pagar</button>
    </div>
  </div>
</div>
