<div class="contenedor_principal">
  <div class="row" id="barra_titulo">
    <div class="col s6">
      <h2>Catalogo de productos</h2>
    </div>
    <div class="col s4 offset-s7">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input type="text" id="icon_prefix" name="search_prod" placeholder="Buscar">
        </div>
      </div>
    </div>
  </div>

  <div class="row">

     <div class="col s6 m3">
       <div class="card">
        <div class="card-image">
          <img src="assets/images/ajo.jpg">
          <span class="card-title">{{Titulo}}</span>
        </div>
        <div class="card-content">
          <p>Precio: {{Precio}}</p>
          <p>Unidades disponibles {{Disponible}}</p>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col s12">
              <a class="waves-effect waves-light btn-small"><i class="material-icons left">info_outline</i>Ver Mas</a>
            </div>
          </div>
          <div class="row">
            <div class="col s8">
              <a class="waves-effect waves-light btn-small"><i class="material-icons left">add</i>Agregar</a>
            </div>
            <div class="col s4">
              <input type="number" min="1" step="1" value="1">
            </div>
          </div>
        </div>
      </div>
     </div>

  </div>
</div>
