.contenedor_principal{
  background-image: url('../images/login-fondo.jpg');
  width: device-width;
  height: 100vh;
  position: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline-style: none;
  border-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.contenedor_login, .formulario_login{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#boton_login{
  border-radius: 4px;
  border: none;
}

.titulo_login{
  font-family: 'Kaushan Script', cursive;
  color: #ffffff;
  font-size: 40px;
}
