.contenedor_principal{
  background-image: url('../../assets/images/main-fondo.jpg');
  width: device-width;
  height: 100vh;
  position: static;
  background-position: center;
  background-size: cover;
  outline-style: none;
  border-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

nav {
  background-color: #e53935 !important;
}
